




{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Rhoads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<h2> Login </h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
<style media="screen" type="text/css">

h2 {
    font-family: Satisfy, cursive;
    color: black;
}
    label{
        color: black;
        font-family: Satisfy, cursive;
    }
footer{
    color: black;
}

   </style>
{% endblock %}